#CUSTOM IGNORES
Samples/ZT-GDR3_Astro_example
Samples/STARSSample.csv
Samples/Decompress
Samples/Clean/STARSSample_EDA1.csv
Samples/Clean/STARSSample_EDA1_fz.csv
Samples/Clean/Subsets
data/processed/factorized_mapping/Cluster_mappings.csv
Samples/Clean/NamesCatalogEquivalence.csv
Samples/Clean/STARTSSample_EDA1_fz.csv
Samples/Clean/STARTSSample_EDA1.csv
Samples/Clean/STARSSample_EDA2.csv
Samples/Clean/Feature_Selection
Samples/Clean/Testing
Models/HDBSCAN.pkl
Models/HDBSCAN-human.pkl

#CUSTOM IGNORES

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# dev container
.devcontainer/


# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Encrypted files
*.secrets

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Streamlit static files
.streamlit/

Samples/Clean/STARSSample_norm.csv
Samples/Clean/Feature_Selection/X_test.csv
Samples/Clean/Feature_Selection/X_train.csv
Samples/Clean/Feature_Selection/Y_test.csv
Samples/Clean/Feature_Selection/Y_train.csv
images/output.png
images/Kmean_3d.png
