#CUSTOM IGNORES
Samples/ZT-GDR3_Astro_example
Samples/STARSSample.csv
Samples/Decompress
Samples/Clean/STARSSample_EDA1.csv
Samples/Clean/STARSSample_EDA1_fz.csv
Samples/Clean/Subsets
data/processed/factorized_mapping/Cluster_mappings.csv
Samples/Clean/NamesCatalogEquivalence.csv
Samples/Clean/STARTSSample_EDA1_fz.csv
Samples/Clean/STARTSSample_EDA1.csv
Samples/Clean/STARSSample_EDA2.csv
Samples/Clean/Feature_Selection
Samples/Clean/Testing
Models/HDBSCAN.pkl
Models/HDBSCAN2.pkl
Models/HDBSCAN-human.pkl
Models/HDBSCAN-human_A_minsamp-0_minclusize-5_epsilon-00_metric-eu_coredist-1_genminspantree-true.pkl
Models/HDBSCAN-human_B_minsamp-5_minclusize-5_epsilon-10_metric-eu_coredist-1_genminspantree-true.pkl
Models/HDBSCAN-human_C_minsamp-0_minclusize-5_epsilon-00_metric-man_coredist-1_genminspantree-true.pkl
Models/HDBSCAN-human_E_minsamp-5_minclusize-10_epsilon-1_metric-eu_coredist-1_genminspantree-true.pkl
Models/HDBSCAN-human_G_minsamp-5_minclusize-10_epsilon-5_metric-man_coredist-1_genminspantree-true.pkl
Models/HDBSCAN-human_H_minsamp-10_minclusize-10_epsilon-50_metric-eu_coredist-1_genminspantree-true.pkl
Models/HDBSCAN-human_I_minsamp-0_minclusize-5_epsilon-1_metric-eu_coredist-1_genminspantree-true.pkl
Models/HDBSCAN-human_F_minsamp-5_minclusize-10_epsilon-00_metric-eu_coredist-1_genminspantree-true.pkl
Models/HDBSCAN-human_D_minsamp-5_minclusize-10_epsilon-05_metric-man_coredist-1_genminspantree-true.pkl
Models/HDBSCAN2_J_minsamp-0_minclusize-5_epsilon-05_metric-eu_coredist-1_genminspantree-true.pkl

#CUSTOM IGNORES

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# dev container
.devcontainer/


# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Encrypted files
*.secrets

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Streamlit static files
.streamlit/

Samples/Clean/STARSSample_norm.csv
Samples/Clean/Feature_Selection/X_test.csv
Samples/Clean/Feature_Selection/X_train.csv
Samples/Clean/Feature_Selection/Y_test.csv
Samples/Clean/Feature_Selection/Y_train.csv
images/output.png
images/Kmean_3d.png

Models/HDBSCAN_C_minsamp-0_minclusize-5_epsilon-00_metric-man_coredist-1_genminspantree-true.pkl
Models/HDBSCAN_E_minsamp-5_minclusize-10_epsilon-1_metric-man_coredist-6_genminspantree-false.pkl
Models/HDBSCAN-human_A_minsamp-0_minclusize-5_epsilon-05_metric-eu_coredist-1_genminspantree-true.pkl
Models/HDBSCAN2_E_minsamp-5_minclusize-10_epsilon-1_metric-man_coredist-6_genminspantree-false.pkl
Models/HDBSCAN_A_minsamp-0_minclusize-5_epsilon-00_metric-man_coredist-1_genminspantree-true.pkl
Models/HDBSCAN_A.pkl
Models/HDBSCAN_B.pkl
Models/HDBSCAN_C.pkl
Models/HDBSCAN_D.pkl
ensamble
Models/HDBSCAN_E.pkl
Models/HDBSCAN_F.pkl
Models/HDBSCAN_G.pkl
Models/HDBSCAN_H.pkl
Models/HDBSCAN_I.pkl
Models/selector2.pkl
Models/HDBSCAN_A_minsamp-0_minclusize-5_epsilon-00_metric-man_coredist-1_genminspantree-true2.pkl
Models/HDBSCAN_A_minsamp-0_minclusize-20_epsilon-5_metric-euc_coredist-1_genminspantree-true_L.pkl
Models/HDBSCAN_A_minsamp-20_minclusize-10_epsilon-05_metric-euc_coredist-1_genminspantree-true_K.pkl
Models/HDBSCAN_A_minsamp-20_minclusize-20_epsilon-00_metric-euc_coredist-1_genminspantree-true_J.pkl
Models/HDBSCAN_A_minsamp-0_minclusize-5_epsilon-2_metric-euc_coredist-1_genminspantree-true_M.pkl
Models/HDBSCAN_N.pkl
Models/HDBSCAN_O.pkl
