#CUSTOM IGNORES
Samples/ZT-GDR3_Astro_example
Samples/STARSSample.csv
Samples/Decompress
Models/HDBSCAN.pkl
Models/HDBSCAN2.pkl
Models/HDBSCAN-human.pkl
Models/HDBSCAN-human_A_minsamp-0_minclusize-5_epsilon-00_metric-eu_coredist-1_genminspantree-true.pkl
Models/HDBSCAN-human_B_minsamp-5_minclusize-5_epsilon-10_metric-eu_coredist-1_genminspantree-true.pkl
Models/HDBSCAN-human_C_minsamp-0_minclusize-5_epsilon-00_metric-man_coredist-1_genminspantree-true.pkl
Models/HDBSCAN-human_E_minsamp-5_minclusize-10_epsilon-1_metric-eu_coredist-1_genminspantree-true.pkl
Models/HDBSCAN-human_G_minsamp-5_minclusize-10_epsilon-5_metric-man_coredist-1_genminspantree-true.pkl
Models/HDBSCAN-human_H_minsamp-10_minclusize-10_epsilon-50_metric-eu_coredist-1_genminspantree-true.pkl
Models/HDBSCAN-human_I_minsamp-0_minclusize-5_epsilon-1_metric-eu_coredist-1_genminspantree-true.pkl
Models/HDBSCAN-human_F_minsamp-5_minclusize-10_epsilon-00_metric-eu_coredist-1_genminspantree-true.pkl
Models/HDBSCAN-human_D_minsamp-5_minclusize-10_epsilon-05_metric-man_coredist-1_genminspantree-true.pkl
Models/HDBSCAN2_J_minsamp-0_minclusize-5_epsilon-05_metric-eu_coredist-1_genminspantree-true.pkl
data
/Samples/Clean
#CUSTOM IGNORES

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# dev container
.devcontainer/


# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Encrypted files
*.secrets

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Streamlit static files
.streamlit/


ensamble

Models/selector2.pkl
src/hdbscan-min_cluster_size_19-min_samples_4-cluster_selection_epsilon_0.39.pkl
src/rf-num_clusters_1-min_cluster_size_9.pkl
src/hdbscan-min_cluster_size_19-min_samples_4-cluster_selection_epsilon_0.39.pkl
src/hdbscan-min_cluster_size_19-min_samples_4-cluster_selection_epsilon_0.39.pkl
